<div class="container" *ngIf="dataUpdate">
    <h6 class="data-update text-center" *ngIf="dataUpdate">{{'daily_race.last_update' | translate}}{{dataUpdate | formatDatePipe}}</h6>
</div>
<h2 class="title text-center">{{'selector.daily_race' | translate}}</h2>
<div class="dailyrace-container" *ngIf="dailyRaces">
    <div class="dailyrace" *ngFor="let race of dailyRaces; index as i">
        <span class="racetitle">{{i+1}}</span>
        <img class="logo" [src]="race.logo | trackImagePipe">
        <img class="flag" [src]="race.region | flagImagePipe">
        <span class="trackname">{{race.track}}</span>
        <span class="racedetails">
            <span class="racedetailsection times">
                <span class="racedetaillabel timelabel">{{'daily_race.time_required_label' | translate}}</span>
                <span class="racedetailcontent time">{{race.time}} <small>{{'daily_race.mins_label' | translate}}</small></span><br>
                <span class="racedetaillabel schedulelabel">{{'daily_race.race_schedule_label' | translate}}</span>
                <span class="racedetailcontent schedule" *ngFor="let schedule of race.schedule">
                    {{'daily_race.xx_label' | translate}}{{schedule}}
            </span>
        </span>
        <span class="racedetailsection raceinfo">
            <div class="racedetailheader raceinfo">{{'daily_race.race_information_label' | translate}}</div>
            <div class="racedetailrow">
                <span class="racedetaillabel lapslabel">{{'daily_race.no_laps_label' | translate}}</span>
                <span class="racedetailcontent laps">{{race.laps}}</span>
                <span class="racedetaillabel carslabel">{{'daily_race.no_cars_label' | translate}}</span>
                <span class="racedetailcontent cars">{{race.cars}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel starttypelabel">{{'daily_race.start_type_label' | translate}}</span>
                <span class="racedetailcontent starttype">{{race.starttype | titlecase}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel fueltyrelabel">{{'daily_race.fuel_tyre_label' | translate}}</span>
                <span class="racedetailcontent fuelcons">{{race.fuelcons}}{{'daily_race.x_label' | translate}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel tyrewearfinallabel">{{'daily_race.final_label' | translate}}</span>
                <span class="racedetailcontent tyrewear">{{race.tyrewear}}{{'daily_race.x_label' | translate}}</span>
            </div>
        </span>

        <span class="racedetailsection regulations">
            <div class="racedetailheader regulations">{{'daily_race.regulations_label' | translate}}</div>
            <div class="racedetailrow">
                <span class="racedetaillabel categorylabel">{{'daily_race.car_type_label' | translate}}</span>
                <span class="racedetailcontent category">{{(race.cartags ? race.cartags : 'daily_race.none_label') | translate}}</span>
                <span class="racedetaillabel categorylabel">{{'daily_race.pp_label' | translate}}</span>
                <span class="racedetailcontent category">{{(race.pplimit ? race.pplimit +&nbsp;+ 'daily_race.or_less_label' : 'daily_race.none_label') | translate}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel nitrouslabel">{{'daily_race.nitrous_label' | translate}}</span>
                <span class="racedetailcontent nitrous">{{(race.nitrousban ? 'daily_race.available_label' : 'daily_race.disabled_label') | translate}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel">{{'daily_race.tyre_choice_label' | translate}}</span>
                <span class="racedetailcontent" *ngFor="let tyre of race.tyres">
                    <div class="tyre" [ngClass]="tyre">{{tyre}}</div>
                </span>
            </div>
            <div class="racedetailrow" *ngIf="race.requiredtyres">
                <span class="racedetaillabel">{{'daily_race.required_tyre_type_label' | translate}}</span>
                <span class="racedetailcontent" *ngFor="let requiredTyre of race.requiredtyres">
                    <div class="tyre" [ngClass]="requiredTyre">{{requiredTyre}}</div>
                </span>
            </div>
        </span>
        <span class="racedetailsection racesettings">
            <div class="racedetailheader racesettings">{{'daily_race.race_settings_label' | translate}}</div>
            <div class="racedetailrow">
                <span class="racedetaillabel boplabel">{{'daily_race.bop_tuning_forbidden_label' | translate}}</span>
                <span class="racedetailcontent bop">{{(race.bop ? 'daily_race.bop_on_label' : 'daily_race.bop_off_label') | translate}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel speclabel">{{'daily_race.car_settings_label' | translate}}</span>
                <span class="racedetailcontent spec">{{race.carsettings_specified ? 'Specified' : 'Allowed'}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel garagecarlabel">{{'daily_race.car_used_label' | translate}}</span>
                <span class="racedetailcontent garagecar">{{(race.garagecar ? 'daily_race.garage_car_label' : 'daily_race.garage_car_event_specified_label') | translate | slice:0:32}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel damagelabel">{{'daily_race.mechanical_damage_label' | translate}}</span>
                <span class="racedetailcontent damage">{{race.damage | titlecase}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel shortcutpenlabel">{{'daily_race.shortcut_penalty_label' | translate}}</span>
                <span class="racedetailcontent shortcutpen">{{(race.shortcutpen ? 'daily_race.penalty_light_label' : 'daily_race.penalty_heavy_label')  | translate}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel collisionpenlabel">{{'daily_race.car_collision_penalty_label' | translate}}</span>
                <span class="racedetailcontent collisionpen">{{(race.carcollisionpen ? 'daily_race.enabled_label' : 'daily_race.disabled_label')  | translate}}</span>
            </div>
            <div class="racedetailrow">
                <span class="racedetaillabel pitlanepenlabel">{{'daily_race.pit_lane_penalty_label' | translate}}</span>
                <span class="racedetailcontent pitlanepen">{{(race.pitlanepen ? 'daily_race.enabled_label' : 'daily_race.disabled_label')  | translate}}</span>
            </div>
        </span>
        <div class="boprace" *ngIf="race.bop">{{'daily_race.bop_race_label' | translate}}</div>
        </span>
    </div>
</div>