.about-container {
    padding: 16px 40px 0 40px;
    background-color: cornsilk;
}

.about-container p {
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.about-container a {
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    color: grey;
    text-align: center;
}