.about-container {
    padding: 0 40px 0 40px;
    background-color: cornsilk;
}

.about-container p {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.about-container a {
    font-size: 18px;
    font-weight: 600;
}